// 
// _horizontal.scss
// 

.topnav {
    background: linear-gradient(135deg, #1976d2 0%, #1565c0 50%, #0d47a1 100%);
    padding: 0 calc(#{$grid-gutter-width} * 0.5);
    box-shadow: 0 4px 20px rgba(25, 118, 210, 0.3);
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    height: 70px;
    display: flex;
    align-items: center;
    
    .topnav-menu {
        margin: 0;
        padding: 0;
    }

    .navbar-nav {
        
        .nav-link {
            font-size: 14px;
            position: relative;
            padding: 1rem 1.3rem;
            color: rgba(255, 255, 255, 0.8);
            i{
                font-size: 15px;
                color: rgba(255, 255, 255, 0.8);
            }
            &:focus, &:hover{
                color: rgba(255, 255, 255, 1);
                background-color: transparent;
            }
        }
        
        .dropdown-item{
            color: var(--#{$prefix}menu-item-color);
            &.active, &:hover{
                color: var(--#{$prefix}menu-item-active-color);
            }
        }
        
        .nav-item{
            .nav-link.active{
                color: rgba(255, 255, 255, 1);
            }
        }

        .dropdown{
            &.active{
              >a {
                    color: rgba(255, 255, 255, 1) !important;
                    background-color: transparent;
                }
            }
        }
    }
    
    /* Mobile toggle button styling */
    .navbar-toggler {
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.1);
        
        &:hover {
            background: rgba(255, 255, 255, 0.2);
            border-color: rgba(255, 255, 255, 0.5);
        }
    }
    
    /* Logout button styling */
    .navbar-nav.ms-auto .btn-danger {
        background: rgba(220, 53, 69, 0.9);
        border: 1px solid rgba(220, 53, 69, 0.5);
        color: white;
        
        &:hover {
            background: rgba(220, 53, 69, 1);
            border-color: rgba(220, 53, 69, 0.8);
        }
    }
}

body[data-layout="horizontal"] {
    #page-topbar{
        left: 0;
    }
}

@include media-breakpoint-up(xl) {

    body[data-layout="horizontal"] {
        .container-fluid,
        .navbar-header {
            max-width: 85%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .topnav {
        .navbar-nav {
            .nav-item {
                &:first-of-type {
                    .nav-link {
                        padding-left: 0;
                    }
                }
            }
        }

        .dropdown-item {
            padding: .5rem 1.5rem;
            min-width: 180px;
        }

        .dropdown {
            &.mega-dropdown{
                // position: static;
                .mega-dropdown-menu{
                    left: 0px;
                    right: auto;
                }
            }
            .dropdown-menu {
                margin-top: 0;
                border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;

                .arrow-down {
                    &::after {
                        right: 15px;
                        transform: rotate(-135deg) translateY(-50%);
                        position: absolute;
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        position: absolute;
                        top: 0 !important;
                        left: 100%;
                        display: none
                    }
                }
            }

            &:hover {
                >.dropdown-menu {
                    display: block;
                }
            }
        }

        .dropdown:hover>.dropdown-menu>.dropdown:hover>.dropdown-menu {
            display: block
        }
    }

    .navbar-toggle {
        display: none;
    }
}

.arrow-down {
    display: inline-block;

    &:after {
        border-color: initial;
        border-style: solid;
        border-width: 0 0 1px 1px;
        content: "";
        height: .4em;
        display: inline-block;
        right: 5px;
        top: 50%;
        margin-left: 10px;
        transform: rotate(-45deg) translateY(-50%);
        transform-origin: top;
        transition: all .3s ease-out;
        width: .4em;
    }
}


@include media-breakpoint-down(xl) {
    .topnav-menu {
        .navbar-nav {
            li {
                &:last-of-type {
                    .dropdown {
                        .dropdown-menu {
                            right: 100%;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {

    .navbar-brand-box{
        .logo-dark {
            display: var(--#{$prefix}display-block);
            span.logo-sm{
                display: var(--#{$prefix}display-block);
            }
        }
    
        .logo-light {
            display: var(--#{$prefix}display-none);
        }
    }
    
    .topnav {
        max-height: 360px;
        overflow-y: auto;
        padding: 0;
        height: auto;
        min-height: 70px;
        
        .navbar-nav {
            .nav-link {
                padding: 0.75rem 1.1rem;
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .dropdown {
            .dropdown-menu {
                background-color: transparent;
                border: none;
                box-shadow: none;
                padding-left: 15px;
                &.dropdown-mega-menu-xl{
                    width: auto;
    
                    .row{
                        margin: 0px;
                    }
                }
            }

            .dropdown-item {
                position: relative;
                background-color: transparent;

                &.active,
                &:active {
                    color: $primary;
                }
            }
        }

        .arrow-down {
            &::after {
                right: 15px;
                position: absolute;
            }
        }
        
        /* Mobile adjustments */
        .navbar-toggler {
            margin-right: 10px;
        }
        
        .navbar-nav.ms-auto {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}


@include media-breakpoint-up(lg) {

    body[data-layout="horizontal"][data-topbar="light"] {
        .navbar-brand-box{
            .logo-dark {
                display: var(--#{$prefix}display-block);
            }
        
            .logo-light {
                display: var(--#{$prefix}display-none);
            }
        }

        .topnav{
            background-color: $primary;
            .navbar-nav {
        
                .nav-link {
                    color: rgba($white, 0.6);
                    
                    &:focus, &:hover{
                        color: rgba($white, 0.9);
                    }
                }
        
                > .dropdown{
                    &.active{
                    >a {
                            color: rgba($white, 0.9) !important;
                        }
                    }
                }
            }
        }
    }
}

// Colored Topbar 

body[data-layout="horizontal"][data-topbar="colored"] {
    #page-topbar{
        background-color: $primary;
        box-shadow: none;
    }

    .logo-dark {
        display: none;
    }

    .logo-light {
        display: block;
    }

    .app-search {
    
        .form-control {
            background-color: rgba(var(--#{$prefix}topbar-search-bg),0.07);
            color: $white;
        }
        span,
        input.form-control::-webkit-input-placeholder {
            color: rgba($white,0.5);
        }
    }
    .header-item {
        color: var(--#{$prefix}header-dark-item-color);
    
        &:hover {
            color: var(--#{$prefix}header-dark-item-color);
        }
    }

    .navbar-header {
        .dropdown .show {
            &.header-item{
                background-color: rgba($white,0.1);
            }
        }

        .waves-effect .waves-ripple {
            background: rgba($white, 0.4);
        }
    }

    .noti-icon {
        i {
            color: var(--#{$prefix}header-dark-item-color);
        }
    }

    @include media-breakpoint-up(lg) {
        .topnav{
            background-color: $primary;
            .navbar-nav {
        
                .nav-link {
                    color: rgba($white, 0.6);
                    
                    &:focus, &:hover{
                        color: rgba($white, 0.9);
                    }
                }
        
                > .dropdown{
                    &.active{
                      >a {
                            color: rgba($white, 0.9) !important;
                        }
                    }
                }
            }
        }
    }
}

